TaskManagmentSystemFrontEndModule/WebContent/WebServiceContracts/ElementTypes/UserElementType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.anarDvir.com/WebServiceContracts/ClientWSDL/UserElementType" 
	targetNamespace="http://www.anarDvir.com/WebServiceContracts/ClientWSDL/UserElementType">


	<xsd:element name="user" type="UserElementType" />

	<xsd:complexType name="UserElementType">
		<xsd:sequence>
			<xsd:element name="userName" type="xsd:string" />
			<xsd:element name="password" type="xsd:string" />
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>
